name: Auto-deploy to production

on:
  push:
    branches:
        - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Triggering local deployment script
        run: |
           echo "Starting automated deployment...."
           sudo ~/scripts/deploy.sh
           echo "deployment successful!...."
